@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sf-sb;
  src: url(./assets/fonts/sf-pro-display_semibold.ttf);
}

@font-face {
  font-family: sf-dm;
  src: url(./assets/fonts/sf-pro-display_medium.ttf);
}

@font-face {
  font-family: sf-li;
  src: url(../src/assets/fonts/sf-pro-text_light.ttf);
}
